$base-body-font-family: 'Montserrat', sans-serif;
$base-body-font-family-mono: 'Fira Mono', monospace;
$base-body-font-size: 1rem;
$base-body-line-height: 1.5rem;
$topbar-height: 70px;

$base-heading-font-family: 'Heebo', sans-serif;
$base-heading-font-weight: 700;

$props-types-name-text: red;
$props-types-name-bg: #fff0f1;

$props-types-text: $dark;
$props-types-bg: $white;
$props-types-border: none;
